@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}


/* ==== ICONS START */
.star i{
    color: #fff;
    position: relative;
    top: 68px;
    left: 10rem;
}

.creative i,
.clock i{
    color: #858386;
}

.creative i{
    position: relative;
    top: -40px;
    right: -90px;
}

.clock i{
    position: relative;
    top: -30px;
    right: 0;
}

.star-1{
    color: #ff00ff;
    position: relative;
    top: 12rem;
}

.star-2{
    color: #8F01FE;
    position: relative;
    top: 4rem;
    left: 31rem;
}

.Rules-img .star-1{
    color: #858386;
    top: -0rem;
    left: 20rem;
}

.Rules-img .star-2{
    color: #fff;
    top: 1rem;
}

.Judging .star-1{
    color: #903AFF;
    top: 9rem;
    left: 5rem;
}

.Judging .star-2{
    color: #fff;
    top: -8rem;
}

.Judging .star-3{
    color: #858386;
    position: relative;
    top: -27rem;
    left: 20rem;
}


.shining-star {
    font-size: 10px;
    animation: shine 2s infinite; /* Infinite shine animation */
    text-shadow: 0 0 10px #D434FE,
                 0 0 20px #FE34B9,
                 0 0 30px #ff00ff;
}

@keyframes shine {
    0% {
        text-shadow: 0 0 10px #ff00ff,
                     0 0 20px #FE34B9,
                     0 0 30px #ff00ff;
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 1),
                     0 0 30px #fae20e,
                     0 0 40px rgba(255, 255, 255, 0.6);
        transform: scale(1.5); /* Slightly increases size during shine */
    }
    100% {
        text-shadow: 0 0 10px #ff00ff,
                     0 0 20px #FE34B9,
                     0 0 30px #ff00ff;
        transform: scale(1.1); /* Return to original size */
    }
}

.col i{
    color: #D434FE;
}

.popping {
    display: inline-block;
    animation: pop 0.6s ease-in-out infinite;
  }
  
  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  


.questions{
display: flex;
gap: 90px;
position: absolute;
top: 3rem;
left: 38rem;
}

.the-big .questions img{
    width: 110px;
    height: 180px;    
    object-fit: cover;
}

.questions-2{
    position: relative;
    top: 10px;
}

.questions-1{
    position: relative;
    top: 7rem;
}


/* ==== ICONS END */

.register a:hover,
.read-more button:hover,
.form-submith button:hover{
    background: transparent;
    border: 1px solid #FE34B9;
}


body{
    background: #150E28;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 63px 128px 25px;
    border-bottom: 1px solid #FFFFFF2E;
}

.logo-menu{
    display: flex;
}

.logo-menu .logo a{
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    line-height: 44.28px;
    text-align: left;
    color: #fff;    
}

.logo-menu .logo span{
    font-size: 36px;
    font-weight: 700;
    line-height: 44.28px;
    text-align: left;    
    color:#D434FE;
}

.menus{
    display: none;
}

#menu{
    display: none;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.ul-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 121px;
}

.ul-btn ul{
    display: flex;
    gap: 56px;
    font-size: 16px;
    font-weight: 400;  
}

.ul-btn ul li{
    list-style: none;
}

.ul-btn ul li a{
    text-decoration: none;
    color: #fff;
    
}

 .register a{
    text-decoration: none;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    color: #fff;
    padding: 16px 52px;
    font-size: 16px;
    font-weight: 400;  
}

/* hero section start */
.hero{
    border-bottom: 1px solid #FFFFFF2E;
}

.writting{
    padding-right: 55px;
    display: flex;
    justify-content: end;
    color: #fff;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: 43.88px;
    margin: 32px 0 0;
}

.curved-text{
   padding-right: 55px;
    display: flex;
    justify-content: end;
}

.curved-line {
    width: 200px;
    height: 50px;
    border-top: 3px solid #ff00ff; 
    border-radius: 60%;
    cursor: pointer;
}

.curved-line:hover{
    border-top: 3px solid #2771df; 
}

.hero-text-img{
    display: flex;
    gap: 0;
    padding-left: 128px;
}

.hero-text-img h1{
    display: flex;
    /* font-family: Clash Display; */
    font-size: 70px;
    font-weight: 700;
    line-height: 98.4px;
    color: #fff;  
}

.hero-text-img span{
    /* font-family: Clash Display; */
    font-size: 70px;
    font-weight: 700;
    line-height: 98.4px;
    color: #D434FE;
 
}

.tex-h1{
    width: 600px;
    padding-top: 10px;
}

.creative{
margin-left: 28rem;
}

.creative img{
    position: relative;
    bottom: -40px;
}

.tex-h1 img{
    width: 76px;
    height: 76px;
    z-index: 10;
}

.text-p{
    width: 420px;
    color: #fff;
}

.text-p p{
    margin-bottom: 51px;
}

.clock {
    display: flex;
    gap: 44px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-top: 77px;
}

.clock span{
    color: white;
    font-family: Unica One;
    font-size: 64px;
    font-weight: 400;
    line-height: 85.12px;
    text-align: left;    
}

.hero-img{
    width: 728px;
    height: 615px;
    filter: grayscale(100%);
} 

.hero-img img{
    width: 728px;
    height: 615px;
    position: absolute;
    left: -110px;
    z-index: 1;
} 

/* hero section end */

/* the-big-idea start */
.the-big-idea{
    width: 100%;
    display: flex;
    gap: 106px;
    align-items: center;
    padding: 62px 128px ;
    border-bottom: 1px solid #FFFFFF2E;
}

.the-big-idea .idea h1{
    /* font-family: Clash Display; */
    font-size: 32px;
    font-weight: 700;
    line-height: 42.56px;
    color: #fff;
}

.the-big-idea .idea h1 span{
    color: #FF26B9;
}

.the-big-idea .idea p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 27.5px;
    color: #fff;   
    margin-top: 16px;
}

.Rules-img {
    display: flex;
    gap: 48px;
    padding: 62 128px 102px;
}


.Rules-img p{
    width: 500px;
}

.Judging img {
    width: 510px;
    height: 587px;
    object-fit: cover;
    margin-top: 15rem;
    position: relative;
    z-index: 10;
}


.bk-img {
    width: 134px;
    height: 134px;
    background: linear-gradient(270deg, #8F01FE 0%, #FF2674 97.24%);
    border-radius: 50%;
    position: relative;
    bottom: 40rem;
    z-index: 1; 
}

.idea p span{
    color: #FF26B9;
}

.read-more button{
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    border: none;
    padding: 17px 57px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 55px; 
    cursor: pointer;
} 


.Frequently{
    position: relative;
    padding-top: 10rem;
}

.Frequently img{
    width: 641px;
    height: 681px;
    object-fit: cover;
}

.freq-img{
    margin-top: 9rem;
}

.Frequently p{
    width: 400px;
    margin-bottom: 40px;
}

.idea-col .col{
    display: flex;
    align-items: center;
    padding: 13px 0;
    border-bottom: 1px solid #D434FE;
}

.idea-col .col p{
    margin: 0;
}


.Prizes-Rewards .rew-h1-p{
    width: 500px;
    padding-left: 8rem;
}

.the-big .rew-h1-p{
    display: none;
}

.Prizes-Rewards{
    display: flex;
    padding: 62px 128px ;
    align-items: center;
    gap: 30px;
}

.Prizes-Rewards h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 39.36px;
    color: #fff;
    margin-bottom: 20px;
}

.Prizes-Rewards h1 span{
    color: #D434FE;
}

.Prizes-Rewards p{
    color: #fff;
}

.Prizes-Rewards img{
    width: 388px;
    height: 382px;
    object-fit: cover;
}

.Prizes-Rewards .idea p{
    margin-bottom: 70px;
}

.rewards img{
    width: 692px;
    height: 513px;    
}

/* the-big-idea end */

/* Timeline start */
.Timeline{
    padding: 72px 150px 100px;
}

.timeline-h1-p{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 91px;
}

.timeline-h1-p h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 42.56px;
    color: #fff;
}

.timeline-h1-p p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24.14px;
    text-align: center;
    color: #fff;    
}

.detail{
    display: flex;
    /* align-items: center; */
    gap: 90px;
}

.detail .row{
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    margin-bottom: 5px;
    gap: 5px;
}

.detail .row span{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    color: #D434FE;
    text-align: right;
    margin-top: 5rem;
}

.detail .row .row-p-l{
    text-align: left;
}

.detail .row-hp{
    width: 100px;
}

.detail .row samp{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.34px;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: right;
}

/* all h1-h6 and p start */
/* .detail .row h1{
    width: 4px;
    height: 7rem;
    background: #D434FE;
}

.detail .row h2,
.detail .row h3,
.detail .row h4,
.detail .row h5,
.detail .row h6{
    width: 4px;
    height: 6rem;
    background: #D434FE;
}

.detail .row p{
    width: 53px;
    height: 53px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 50%;
    color: #fff;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
} */
/* all h1-h6 and p end */
/* Timeline end */


/* contact page start*/
.get-form{
    padding: 140px 208px 115px;
   display: flex;
   gap: 125px;
}

.get-form .get h1{
    /* font-family: Clash Display; */
    font-size: 32px;
    font-weight: 600;    
    color: #D434FE;
    margin-top: 56px;
}

.get-form .get h2{
    font-size: 16px;
    font-weight: 400;  
    color: #fff;  
    margin: 22px 0;
}

.get-form .get p{
    width: 300px;
    margin-bottom: 22px;
}

.get-form .get p a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;  
    color: #fff;
}

.social-links h3{
    color: #D434FE;
    font-size: 16px;
    font-weight: 400;    
    margin: 30px 0 10px;
}

.links{
    display: flex;
    gap: 19px;
}

.links a{
    color: #fff;
}

#form{
    width: 500px;
    padding: 75px 90px;
    background-color: #2e2e2e10;
    box-shadow: 0px 4px 4px 0px #00000040;
}

#form h1{
    /* font-family: Clash Display; */
    font-size: 20px;
    font-weight: 600;
    color: #D434FE; 
}

#form .form-details input{
    width: 100%;
    padding: 13px 29px;
    margin-top: 42px;
    background: transparent;
    outline: none;
    color: #fff;
    border: 1px solid #FFFFFF;
}

#form input::placeholder{
    color: #fff;
}

#form .form-details textarea{
    background: transparent;
    width: 100%;
    height: 119px;
    padding: 13px 29px;
    margin: 39px 0 31px;
    outline: none;
    color: #fff;
    border: 1px solid #FFFFFF;
}

.form-submith{
    display: flex;
    justify-content: center;
}

.form-submith button{
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    border: none;
    padding: 17px 57px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;    
    cursor: pointer;
}

.form-links{
    display: none;
}

/* contact page end*/



/* foooter start */
footer{
    padding: 40px 0;
    background: #100B20;
}

.footer-contanier{
    display: flex;
    gap: 213px;
    padding: 30px 128px;
}

.logo-p a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.9px;
    color: #fff;    
}

.logo-p span{
    color: #D434FE;    
}

.logo-p p{
    width: 320px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.69px;    
    color: #fff;
    margin: 10px 0 50px;
}

.logo-p h6{
    font-size: 12px;
    font-weight: 400;
    line-height: 20.69px;
    color: #fff;
}

.Useful-contacts{
    display: flex;
    gap: 113px;
}

.Useful-contacts h1{
    font-size: 14px;
    font-weight: 600;
    line-height: 24.14px;
    margin-bottom: 10px;
    color: #D434FE;
}

.Useful ul li{
    list-style: none;
    margin-bottom: 23px;
}

.Useful ul li a{
    text-decoration: none;
    color: #fff;
}

.user-socal{
    display: flex;
    gap: 20px;
}

.user-socal h1{
    width: 80px;
    font-size: 15px; 
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.contacts p{
    font-size: 15px;
    font-weight: 400;
    line-height: 18.95px;
    color: #fff;
}

.contacts p a{
    text-decoration: none;
    color: #fff;
}

.ft-p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;   
    color: #fff;
    text-align: center; 
}
/* foooter start */


/* ========== RESPONSIVENES START ========== */
@media (max-width: 930px) {
/* icons start */
.star-1{
    top: 7rem;
    left: 0;
}

.star-2{
    left: 20rem;
}

.Rules-img .star-1{
    left: 13rem;
}

.Judging .star-2{
    top: 10rem;
    left: 16rem;
}

.Judging .star-3{
    top: -12rem;
    left: 8rem;
}

.questions{
    gap: 6rem;
    top: 14rem;
    left: 30rem;
}
    
.the-big .questions img{
    width: 32px;
    height: 50px;    
    object-fit: cover;
}
    
.questions-2{
    top: 6rem;
    left: -4rem;
}
    
.questions-1:last-child{
    left: -8rem;
}

/* icons end */

    nav{
        position: relative;
        padding: 34px 48px 15px;

    }

    .logo-menu{
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .menus{
        display: block;
    }

    #menu{
        display: block;
    }

    .ul-btn{
        display: none;
        position: absolute;
        background: #150E28;
        width: 100%;
        height: 100vh;
        top: 10px;
        left: 0;
        padding: 0 47px;
        z-index: 100;
    }
    
    .ul-btn.show {
        display: block;
    }

    .ul-btn ul{
        gap: 40px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 119px;
        margin-bottom: 70px;
        background: #150E28;
        font-size: 30px;
    }

    .close{
        background: transparent;
        color: #fff;
        font-size: 26px;
        font-weight: 600;
        border-radius: 50px;     
        width: 40px;
        height: 38px;
        margin: 47px 0;
        position: absolute;
        top: -20px;
        right: 0;
    }
    
    /* hero section start */
    .hero-text-img{
        display: block;
        padding-left: 8px;
    }

    .tex-h1{
        padding-top: 44px;
    }
    
    
    .hero-text-img span{
        font-size: 72px;
    }
    
    .hero-text-img span{
        font-size: 72px;
    }
    

    .text{
        padding: 0 48px;
    }

    .text-p p{
        width: 580px;
        font-size: 22px;
    }


    .hero-img{
        margin-top: 40px;
        width: 755px;
        height: 660px;
    }

    .hero-img img{
        width: 755px;
        height: 660px;
        margin-top: 0;
        object-fit: cover;
        left: -10px;
    } 
    
    /* hero section end */

            /* the-big-idea start */
.the-big-idea{
    gap: 60px;
    align-items: center;
    padding: 62px 48px ;
}

.the-big-idea img{
    width: 260px;
    height: 257px;
}

.the-big-idea .idea h1{
    font-size: 25px;
}

.the-big-idea .idea p{
    font-size: 16px;
    line-height: 27.5px;
    margin-top: 16px;
}

.Rules-img {
    padding: 62 128px 102px;
}


.Rules-img p{
    width: 350px;
    font-size: 16px;
    line-height: 27.5px; 
    margin-top: 16px;
}

.bk-img {
    width: 60px;
    height: 60px;
    bottom: 17rem;
}

.Prizes-Rewards{
    padding: 62px 48px;
}

.Prizes-Rewards img{
    width: 320px;
    height: 290px;
}
.Prizes-Rewards .rew-h1-p{
    width: 350px;
    padding: 20px;
}

.rewards img{
    width: 320px;
    height: 220px;
}

/* the-big-idea end */


/* contact page start */
.get-form{
    padding: 48px;
    gap: 50px;
}

.get{
    width: 400px;
}

#form{
    padding: 58px;
}
/* contact page end */

/* footer start */
.footer-contanier{
    gap: 50px;
    padding: 30px 48px;
}

.logo-p p{
    width: 210px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.69px;    
    color: #fff;
    margin-bottom:15px;
}
/* footer end */

}


@media(max-width:768px){

}


@media (max-width: 475px) {
/* === icons start === */
.star i{
    top: 6rem;
    left: 5rem;
}

.creative img{
    bottom: -30px;
}

.creative i{
    top: -10px;
    right: -20px;
}

.questions{
    width: 100%;
    gap: 0px;
    top: 48rem;
    left: 0rem;
}
    
.the-big .questions img{
    width: 30px;
    height: 51px;    
    object-fit: cover;
}
    
.questions-2{
    top: 6rem;
    left: -4rem;
}
    
.questions-1:last-child{
    left: -8rem;
}

.star-1{
    left: 3rem;
}

.Rules-img .star-1{
    top: -13rem;
    left: 2rem;
}

.Judging .star-1{
    top: -1rem;
}

.Judging .star-2{
    top: 73rem;
    left: 19rem;
}

.Judging .star-3{
    top: -8rem;
    left: 10rem;
}
    
/* === icons end === */


    .ul-btn ul{
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        letter-spacing: -1px;
        text-align: left;           
    }

    .close{
        width: 30px;
        height: 28px;
        font-size: 16px;
    }

        /* hero section start */
        .writting{
            padding:0 48px;
            justify-content: center;
            font-size: 16px;
            line-height: 19.5px;            
        }

        marquee{
            width: 100%;
        }

        .curved-line {
            width: 100px;
            height: 20px;
            border-top: 3px solid #ff00ff; 
            border-radius: 60%;
            cursor: pointer;
        }

        .hero-text-img{
            display: block;
            padding-left: 8;
        }
    
        .text{
            padding: 0 57px;
        }
    
        .creative{
            margin-left: 15rem;
        }   
        
        .tex-h1{
            width: 100%;
            padding-top: 20px;
        }

        .text-p{
            width: 100%;
        }
    
        .text-p p{
            width: 270px;
            font-size: 13px;
            line-height: 21.58px;   
            margin: 10px 0 30px;         
        }

        .text-p .register{
            margin-left: 40px;
        }

        .first-h1{
            padding-left: 20px;
        }
    
        .hero-text-img h1{
            align-items: center;
            font-size: 32px;
            line-height: 49.36px;
        }

        .hero-text-img span{
        font-size: 32px;
        line-height: 49.36px;
    }
    
    .tex-h1 img{
        width: 18px;
        height: 26px;  
    }

    .text{
        padding: 0 48px;
        line-height: 39.36px;
        text-align: left;        
    }
    
    .tex-h1 img{
        width: 18px;
        height: 26px;  
    }

    .text{
        padding: 0 38px;
    }

    .clock{
            margin:30px 0;
    }
    
    .hero-img{
            width: 345px;
            height: 374px;
    }
    
    .hero-img img{
            width: 359px;
            height: 374px;
            margin-top: 0;
            left: -10px;
    } 
        
    /* hero section end */

    /* the-big-idea start */
.the-big-idea{
    width: 100%;
    display: block;
    gap: 106px;
    align-items: center;
    padding: 62px 0 ;
}

.the-big-idea img{
    width: 260px;
    height: 257px;
    margin: 0 48px;
}

.the-big-idea .idea h1{
    font-size: 20px;
    line-height: 30.56px;
    padding: 20px 46px;
    padding-bottom: 0;
    text-align: center;
}

.the-big-idea .idea p{
    font-size: 16px;
    line-height: 27.5px;
    text-align: center;    
    padding: 0 40px;
    margin-top: 16px;
}

.Rules-img {
    display: flex;
    flex-direction: column-reverse;
    gap: 48px;
    padding: 62 128px 102px;
}


.Rules-img p{
    width: 100%;
    font-size: 16px;
    line-height: 27.5px;
    text-align: center;    
    padding: 0 40px;
    margin-top: 16px;
}

.read-more{
    display: flex;
    justify-content: center;
}

.bk-img {
    display: none;
}

.Frequently .idea{
    margin-bottom: 8rem;
}

.Frequently p{
    width: 100%;
}

.Frequently .col p{
    text-align: left;
    width: 100%;
}

.idea-col .col{
    margin:0 48px;
}

.idea-col .col p{
    padding: 0;
    margin: 0;
}

.Prizes-Rewards{
    display: block;
    padding: 20px 46px;
}

.Prizes-Rewards img{
    width: 281px;
    height: 252px;    
    margin-top: 30px;
}


.Prizes-Rewards  .rew-h1-p{
    display: none;
    text-align: center;
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

  #display-none{
    display: block;
}

.rewards{
    margin: 20px 0;
}

.rewards img{
    width: 274px;
    height: 198px;
}

/* the-big-idea end */

/* contact page start */
.get-form{
    display: block;
}

.get{
    width: 300px;
}

#form{
    width: 100%;
    margin-top: 60px;
    padding: 28px;
}

#form h1{
    font-size: 16px;
    text-align: center;
}
/* contact page end */

/* footer start */
.footer-contanier{
    flex-direction: column;
    gap: 40px;
}

.logo-p p{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.69px;    
    color: #fff;
    margin-bottom:15px;
}

.Useful-contacts{
    flex-direction: column;
    gap: 32px;
}
/* footer end */

    
}
/* ========== RESPONSIVENES END ========== */